<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.roombooking"/>
    <context:property-placeholder location="classpath:database.properties"/>
    <!--Beans-->
    <bean id="userDao" class="com.roombooking.dao.user.UserJPADao"/>
    <bean id="roomDao" class="com.roombooking.dao.room.RoomJPADao"/>
    <bean id="timetableDao" class="com.roombooking.dao.timetable.TimetableJPADao"/>
    <bean id="bookingDao" class="com.roombooking.dao.booking.BookingJPADao"/>
    <bean id="roomtypeDao" class="com.roombooking.dao.roomtype.RoomTypeJPADao"/>
    <bean id="rightsDao" class="com.roombooking.dao.rights.RightsJPADao"/>
    <bean id="roleDao" class="com.roombooking.dao.role.RoleJPADao"/>
    <bean id="positionDao" class="com.roombooking.dao.position.PositionJPADao"/>

    <bean id="bookingFactory" class="com.roombooking.service.BookingFactoryImpl"/>
    <bean id="authorizationUtil" class="com.roombooking.utils.AuthorizationUtil"/>
    <bean id="bookingEvent" class="com.roombooking.listener.BookingEvent"/>

    <bean id="roomService" class="com.roombooking.service.RoomService"/>
    <bean id="userService" class="com.roombooking.service.UserService"/>
    <bean id="timetableService" class="com.roombooking.service.TimetableService"/>
    <bean id="bookingService" class="com.roombooking.service.BookingService"/>
    <bean id="adminBookingService" class="com.roombooking.service.AdminBookingService" parent="bookingService"/>
    <bean id="roomTypeService" class="com.roombooking.service.RoomTypeService"/>
    <bean id="positionService" class="com.roombooking.service.PositionService"/>
    <bean id="roleService" class="com.roombooking.service.RoleService"/>
    <bean id="rightsService" class="com.roombooking.service.RightsService"/>

    <!--Beans-->

    <!--JPA (Hibernate)-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="user" value="${login}"/>
        <property name="password" value="${password}"/>
        <property name="jdbcUrl" value="${mysql-uri}"/>
        <property name="driverClass" value="${mysql-driver}"/>

        <property name="acquireIncrement" value="3"/>
        <property name="minPoolSize" value="5"/>
        <property name="maxPoolSize" value="140"/>
        <property name="maxIdleTime" value="3600"/>
        <property name="unreturnedConnectionTimeout" value="3600"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="roomBE"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="use_sql_comments">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>

            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--JPA (Hibernate)-->


</beans>
