<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RoomBooking</title>
    <link rel="stylesheet" href="styles/bootstrap.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/jquery-ui.css" />
    <script data-main='js/boot' type="text/javascript" src='/js/libs/require.js'></script>
    <script data-main='js/boot' type="text/javascript" src='/js/libs/jquery.js'></script>
    <script data-main='js/boot' type="text/javascript" src='/js/libs/jquery-2.js'></script>
    <script data-main='js/boot' type="text/javascript" src='/js/libs/jquery-ui.js'></script>
    <script data-main='js/boot' type="text/javascript" src='/js/libs/bootstrap.js'></script>
  </head>
  <body>
  <div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">RoomBooking</a>
  </div>
</div>


    <div id="content">
    </div>

    
  </body>
</html>