.pagination {
  height: 36px;
  margin: 18px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
  display: inline;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}

.pagination .active a {
  color: #999999;
  cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 20px;
}


/*custom section*/

#content {
<<<<<<< HEAD

	width: 95%;
=======
	width: 90%;
>>>>>>> e47248977b26b53e6106a130b9d1d9b4385c81e1
  display: block;
  margin-left: auto;
  margin-right: auto;
}

<<<<<<< HEAD
h1,
h2 .h2 {
=======
h2,
.h2 {
>>>>>>> e47248977b26b53e6106a130b9d1d9b4385c81e1
	margin-top: 5px;
	padding-left: 10%;
}

.roomlist {
	padding-left: 10px;
  padding-right: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
  border: 1px solid #dddddd;
  width: 280px;
  border-radius: .3em;
}

.roomlist:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.roomlist-item {
	color: #555555;
	width: 20%;
}

.roomlist-item:hover {
	color: #555555;
	text-decoration: none;
}

.room-card-table td {
  width: 50%;
}

.room-details-table {
  white-space:nowrap;
  width: 70%;
  margin: 20px;
  font-size: 20px;
}

.room-details-table td {
  white-space:nowrap;
  padding-bottom: 10px;
  border: 1px solid #dddddd;
}

.datepicker-table {
  width: 70%;
  margin: 20px;
}

.datepicker-table td{
  width: auto;
}

.myform {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.has-prop {
  color: #2f8912;
}

.has-no-prop {
  color: #d60030;
}

.btn-pair {
  border: 1px solid #ffffff;
<<<<<<< HEAD
  border-radius: 2px;
  padding: 5.5px;
=======
  padding: 4px;
>>>>>>> e47248977b26b53e6106a130b9d1d9b4385c81e1
  vertical-align: center;
}

.btn-group-pair {
<<<<<<< HEAD
  border: 2px solid #dddddd;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  width: 400px;border-radius: 2px;
}

.submit-booking {
  padding: 20px;
}

#submit-booking-btn {
  margin-left: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#booking-div {
  margin-bottom: 30px;
}

.filter-input {
  width: 75px;
  padding: 3px;
  margin-top: 5px;
}

.filter-checkbox {
  color: #ffffff;
  margin: 13px;
  margin-left: 30px;
}

.btn-filter {
  padding: 4px;
  margin: 4px;
}

.filter-button {
  margin: 5px;
  margin-left: 40px;
}

.filter-dropdown {
  width: 200px;
}

.filter-dropdown-small {
  width: 150px;
}

.filter-label {
  color: #ffffff;
  float: left;
  padding: 14.5px 15px;
  padding-right: 0px;
  font-size: 14px;
  line-height: 21px;
  height: 50px;
}

.filter-label:hover,
.filter-label:focus {
  text-decoration: none;
}

.my-option:hover {
  cursor: pointer;
=======
  margin-left: 20px;
  height: 100%;
  width: 100%;
  width: 400px;
>>>>>>> e47248977b26b53e6106a130b9d1d9b4385c81e1
}