<script data-main='js/boot' type="text/javascript" src='/public/js/libs/jquery-ui.js'></script>
<div id="fail-container">
 </div>
<div>
<div class="fixed-left">
  <h3 id="filter-header">Filters:</h3>
      <span class="filter-name">
      From:
    </span>
    <div class="small-datepicker" id="from" disabled>
    </div>

    <span class="filter-name">
      To:
    </span>
    <div class="small-datepicker" id="to" disabled>
</div>


</div>

<div class="fixed-left-low">
<div class="btn-search-div"> 
    <button class="btn btn-success btn-search" id="search">Search</button>
    </div>
</div>
<div id="loading-div">
<img src="/public/styles/images/loading.GIF" />
</div>
<div id="list-container" class="disabled">
	<ul class="thumbnails"></ul>
</div>
</div>