<div class="login-div">
<table id="login-table">
<tr id="login-row">
<td id="description-col">
    <p class="center">Welcome to <b>RoomBooking</b>!</p><br/><br/>
    <p><b>RoomBooking</b> is a system designed to manage the difficulties, related to conducting the lessons in specific rooms of the university.</p><br/>
    <p>By using this resource you become able to keep the track of rooms' schedules, make your own bookings, view and cancel them.</p>
  </td>
<td id="login-col">
<form class="form-horizontal">
  <fieldset>
    <legend class="h2"><h2>Log in</h2></legend>
    <div class="form-group">
      <label for="input-login" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control login-input" id="input-login" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="input-password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control login-input" id="input-password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-default btn-login" id="btn-login">Log in</button>
      </div>
    </div>
  </fieldset>

  <div id="alert-container">    
  </div>
  </td>  
  </tr>
</table>
</form>
</div>