<script data-main='js/boot' type="text/javascript" src='/js/libs/jquery-ui.js'></script>
<form class="form-horizontal myform">
  <fieldset>
    <legend><h1><%= roomName %></h1></legend>
    <h2>General Information:</h2>
    <table class="room-details-table">
    <tr>
        <td><label class="col-lg-2 control-label">Floor:</label></td>
        <td><label class="col-lg-2 control-label"><%= floor %></label></td>
    </tr>
    <tr>
        <td><label class="col-lg-2 control-label">Capacity:</label></td>
        <td><label class="col-lg-2 control-label"><%= places %></label></td>
    </tr>
    <tr>
        <td><label class="col-lg-2 control-label">Computers:</label></td>
        <td><label class="col-lg-2 control-label"><%= computers != 0 ? computers :
        "<span class='has-no-prop'> &#x2717;"%></label></td>
    </tr>
    <tr>
        <td><label class="col-lg-2 control-label">Projector:</label></td>
        <td><label class="col-lg-2 control-label"><%= projector == true?
        "<span class='has-prop'>&#10003;</span>" : "<span class='has-no-prop'>&#x2717;</span>" %></label></td>
    </tr>
    <tr>
        <td><label class="col-lg-2 control-label">Board:</label></td>
        <td><label class="col-lg-2 control-label"><%= board == true?
        "<span class='has-prop'>&#10003;" : "<span class='has-no-prop'>&#x2717;</span>" %></label></td>
    </tr>
    <tr>
        <td><label class="col-lg-2 control-label">Type:</label></td>
        <td><label class="col-lg-2 control-label"><%= roomType["roomType"] %></label></td>
    </tr>
    </table>
    <legend> </legend>
    <h2 id="booking-div">Booking:</h2>
    <table class="datepicker-table">
    <tr>
        <td><div id="datepicker"></div></td>
        <td>
            <div id="pairs" class="btn-group-vertical btn-group-pair">
            </div>
        </td>
    </tr>
    </table>
    

    <div class="form-group submit-booking">
      <div class="col-lg-10 col-lg-offset-2">
        <a href="#rooms/page/1" class="btn btn-default">Cancel</a>
        <button class="btn btn-primary" id="submit-booking-btn" disabled>Book</button>
      </div>
    </div>
  </fieldset>
</form>