<script data-main='js/boot' type="text/javascript" src='/public/js/libs/jquery-ui.js'></script>

<div id="fail-container">
 </div>

  <div class="fixed-left">
  <h3 id="filter-header">Filters:</h3>
    <span class="filter-name">
      Room name:
    </span>
    <form>
      <input class="form-control filter-input" type="text" maxlength="6" id="roomName" placeholder="Name">
    </form>
    <span class="filter-name">
      Capacity:
    </span>
    <form>
      <input class="form-control filter-input" type="number" min="0" max="999" maxlength="3" id="places" placeholder="Capacity">
    </form>
    <span class="filter-name">
      Computers:
    </span>
    <form>
      <input class="form-control filter-input" type="number" min="0" max="999" maxlength="3" id="computers" placeholder="Computers">
    </form>
    <span class="filter-name">
      Room type:
    </span>
    <select class="pair-select" id="type-select">
          <option value="0">All</option>
    </select>

<span class="filter-name">
      Display:
    </span>
      <div class="radio filter-checkbox">
          <label>
            <input type="radio" name="display-all" id="display-all" value="1" checked="">
            All
          </label>
        </div>
        <div class="radio filter-checkbox">
          <label>
            <input type="radio" name="display-all" id="display-avaliable" value="0">
            Only avaliable
          </label>
        </div>

    <div class="filter-checkbox-div">
    <span class="filter-name">
      Facilities:
    </span>
    </div>
      <span class="filter-checkbox">
      <input class="filter-checkbox" type="checkbox" id="board"> Board
      </span>
      <span class="filter-checkbox">
      <input type="checkbox" id="projector"> Projector
      </span>      

    <div class="hr"><hr /></div>

    <div class="date-checkbox-div">
    <span class="filter-checkbox date-checkbox">
      <input type="checkbox" id="specific-time"> Specific time:
      </span>
      </div>
      <span class="filter-name">
      Date:
    </span>
    <div class="small-datepicker" id="datepicker" disabled>
    </div>
    <span class="filter-name">
      Pair:
    </span>
    <select class="pair-select disabled-select" id="pair-select" disabled>
          <option value="">Any</option>
    </select>
</div>

<div class="fixed-left-low">
<div class="btn-search-div"> 
    <button class="btn btn-success btn-search" id="search">Search</button>
    </div>
</div>

<div id="loading-div">
<img src="../styles/images/loading.gif" />
</div>
<div id="list-container">
	<ul class="thumbnails"></ul>
  </div>